<template>
  <div id="app">
    <div class="table-container">
      <table class="table">

        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Edad</th>
          <th>Sexo</th>
          <th>Departamento</th>
          <th>Fecha contratación</th>
        </tr>

        <!-- <% users.forEach((user, index) => { %>
          <tr>
            <td><%= user.IDEmpleado %></td>
            <td><%= user.nombre %></td>
            <td><%= user.apellidos %></td>
            <td><%= user.edad %></td>
            <td><%= user.sexo %></td>
            <td><%= user.departamento %></td>
            <td><%= user.fechaContratacion.toDateString() %></td>
          </tr>
        <% }); %> -->
      </table>
    </div>

    <div class="form-container">
      <form    action="/new-empleado" class="form" method="POST">
        <fieldset>
          <legend>Añadir un nuevo empleado a la plantilla</legend>
          <div class="campos-form">

        <div class="form-group">
          <input name="Nombre" type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
          <input name="Apellidos" type="text" class="form-control" placeholder="Apellidos">
        </div>
        <div class="form-group">
          <input name="Edad" type="text" class="form-control">
        </div>
        <div class="form-group">
          <input name="Sexo" type="radio" value="Mujer" class="form-control">Mujer
          <input name="Sexo" type="radio" value="Hombre" class="form-control">Hombre
          <input name="Sexo" type="radio" value="No contesta" class="form-control">No contesta
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Datmean HR Tool example'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
